files/Schemas/SchemaGroupe/NI_types.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" >
<!-- Dernière modification 27/07/2012 - 15h15 (suppression attributeFormDefault) -->
	<!--	-->
	<!--	Description des types utilisés dans les rubriques des différents schémas ADSU-->
	<!--	-->
	<!--	20/03/2012 - ajout de types pour le CEDI-->
	<!---	alpha_11Max-->
	<!---	alpha_34Max-->
	<!---	alpha_70Max-->
	<!---	alpha_140Max-->
	<!---	Montantatt_15-->
	<!--	-->
	<xsd:simpleType name="alpha_1">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 1 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="1"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_2">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 2 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_2Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 2 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_25Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 25 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="25"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_3">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 3 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="3"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_4">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 4 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="4"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_5">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 5 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_5Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 5 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_6">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 6 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_6Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 6 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_7">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 7 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="7"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_8Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 8 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="8"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_9">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 9 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="9"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_10">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 10 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_10Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 10 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="10"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_11">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 11 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- NEW - ajout Cedicam 20/03/2012 -->
	<xsd:simpleType name="alpha_11Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 11 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="11"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_14">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 14 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_14Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 14 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="14"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_15">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 15 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_15Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 15 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="15"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_16">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 16 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_16Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 16 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="16"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_17Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 17 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="17"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_18Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 18 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="18"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_20">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 20 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_20Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 20 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="20"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_21">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 21 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="21"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_21Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 21 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="21"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_30">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 30 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_30Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 30 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="30"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_32">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 32 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_32Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 32 caractères maxi.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="32"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_34">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 34 caractères.</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:length value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- NEW - ajout Cedicam 20/03/2012 -->
	<xsd:simpleType name="alpha_34Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 34 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="34"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_35Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 35 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="35"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_38Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 38 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="38"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_48Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 48 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="48"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_40Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 40 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="40"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="alpha_64Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 64 caractères maximum</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="64"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- NEW - ajout Cedicam 20/03/2012 -->
	<xsd:simpleType name="alpha_70Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 70 caractères maximum</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="70"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- NEW - ajout Cedicam 20/03/2012 -->
	<xsd:simpleType name="alpha_140Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones alphanumériques de 140 caractères maximum</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:maxLength value="140"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Booleen">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé conforme à CAM0066 pour les booléens</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:boolean">
			<xsd:pattern value="[0-1]"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="date">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé conforme à CAM0074 pour les dates (forme SSAAMMJJ). ? indique que lorsque la date n'est pas renseignée, elle peut être à blanc</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="([0-9]{8})?"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_1">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 1  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{1}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_2">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 2  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{2}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_2Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 2 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_3">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 3  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{3}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_3Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 3 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_4">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 4  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{4}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_5">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 5  caractères (code banque, code postal, code guichet)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{5}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_6">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 6  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{6}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_8Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 8 caractères maxi</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="99999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_9">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 9  caractères (numero SIRENE)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{9}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_10">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 10  caractères)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{10}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_11">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 11  caractères (Numéro de compte)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{11}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_12">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 12  caractères
			</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{12}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_13">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 13  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{13}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_13Max">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 13  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:positiveInteger">
			<xsd:maxInclusive value="9999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="num_19">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de 19  caractères</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:string">
			<xsd:pattern value="[0-9]{19}"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="oui_non">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les booléens (type utilisé avant normalisation, conservé pour éviter de faire évoluer l'existant)</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="O"/>
			<xsd:enumeration value="N"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Montantatt">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé pour les montants sans code monnaie</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Montantatt_11">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé pour les montants sans code monnaie de longueur maxi 11 caractères avec 2 décimales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:maxInclusive value="99999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<!-- NEW - ajout Cedicam 20/03/2012 -->
	<xsd:simpleType name="Montantatt_15">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé pour les montants sans code monnaie de longueur maxi 15 caractères avec 2 décimales</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="2"/>
			<xsd:maxInclusive value="999999999999999"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="Montant">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type normalisé pour les montants avec code monnaie</xsd:documentation>
		</xsd:annotation>
		<xsd:simpleContent>
			<xsd:extension base="xsd:decimal">
				<xsd:attribute name="MontantCdMonnaie" type="xsd:normalizedString" use="optional"/>
			</xsd:extension>
		</xsd:simpleContent>
	</xsd:complexType>
	<xsd:simpleType name="Taux6_dec4">
		<xsd:annotation>
			<xsd:documentation>Déclaration d'un type pour les zones numériques de type taux de 6 caractèes de long avec zone décimale de 4</xsd:documentation>
		</xsd:annotation>
		<xsd:restriction base="xsd:decimal">
			<xsd:fractionDigits value="4"/>
			<xsd:maxInclusive value="999999"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
